<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Registered</title>
</head>
<body>
    <h2>Successfully Registered</h2>
    <p>First Name: {{ firstname }}</p>
    <p>Last Name: {{ lastname }}</p>
    <p>Email: {{ email }}</p>
    {% if word_count %}
        <p>Word Count in Uploaded Text File: {{ word_count }}</p>
        <p>Download your text file: <a href="{{ url_for('download', username=username) }}">Download</a></p>
    {% else %}
        <p>No text file uploaded during registration.</p>
    {% endif %}
    <p><a href="{{ url_for('login') }}">Login</a>.</p>
    <p><a href="{{ url_for('home') }}">Return to Home Page</a>.</p>
</body>
</html>
