<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h2>Successfully Logged In</h2>
    {% if user_info %}
        <p>First Name: {{ user_info.get('firstname', '') }}</p>
        <p>Last Name: {{ user_info.get('lastname', '') }}</p>
        <p>Email: {{ user_info.get('email', '') }}</p>
        {% if user_info.text_content %}
            <p>Word Count in Uploaded Text File: {{ user_info.word_count }}</p>
            <p>Download your text file: <a href="{{ url_for('download', username=user_info.username) }}">Download</a></p>
        {% else %}
            <p>No text file uploaded during registration.</p>
        {% endif %}
    {% else %}
        <p>No user information available.</p>
    {% endif %}
    <p><a href="{{ url_for('home') }}">Return to Home Page</a>.</p>
</body>
</html>
